#calendar_nav{
    display: flex;
    overflow: auto;
    font-family: "Agency FB", Helvetica, sans-serif;
    margin-top: 55px;
}
#calendar_nav h1{
    font-weight: 100;
    margin: 0;
    color: grey;
}
#today_tab{
    flex: 1;
    font-size: 4vw;
    margin: auto;
    text-align: center;
}
#getToday{
    width: 15vw;
    height: 15vw;
    margin-top: 10px;
}
#diplay_date{
    margin: auto;
    flex: 2;
    text-align: center;
    font-size: 3.5vw;
}
#expand_tab{
    flex: 1;
}
#expand_tab img {
    width: 40px;
    display: block;
    margin: auto;
    margin-top: 10px;
    bottom: 0;
}