@media only screen and (max-width: 600px) {
    /* hide PC */
    #PC_header{
        display: none;
    }
    /* background */
    body {
        margin: 0 auto;
    }
    main {
        
        background-size: cover;
    }
    /* header */
    
	#mobile_header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: #8dc289;
        overflow: hidden;
        display: flex;
        z-index: 10;
    }
	#mobile_home_page_nav >img {
       display: block;
        width: 84px;
        margin: 0 auto 0 auto;
	}
    #mobile_meal_planner_nav {
        height: 100%;
        flex: 1;
    }
    #mobile_home_page_nav {
        height: 100%;
        flex: 3;
        margin: 0 auto 0 auto;
    }
    #mobile_grocery_list_nav {
        height: 100%;
        flex: 1;
    }
	
	.nav_side_icons {
		display: block;
		width: 55px;
		height: 55px;
		margin: calc(35px/2);
	}
}
/* js add class */
.hide{
    display: none;
}
.show{
    display: inline;
}
.planned {
    color: #95D15B;
    text-shadow: 
	-1px 0 #464646, 
	0 1px #464646, 
	1px 0 #464646, 
	0 -1px #464646,
	-0.8px -0.8px #464646,
	0.8px 0.8px #464646,
	0.8px -0.8px #464646,
	-0.8px 0.8px #464646;
}
.un_planned {
	color: white;
	text-shadow: 
	-1px 0 #464646, 
	0 1px #464646, 
	1px 0 #464646, 
	0 -1px #464646,
	-0.8px -0.8px #464646,
	0.8px 0.8px #464646,
	0.8px -0.8px #464646,
	-0.8px 0.8px #464646;
}