.info{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	margin: 0;
	width: 40px;
	height: 35px;
	font-size: 30px;
	text-align: center;
	background-color: orange;
	border-radius: 100%;
	padding-top: 5px;
	opacity: 0.6;
}
.popup{
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
.info_content{
	border-radius: 10px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 96%;
	margin-top: 70px;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.8s
}
#dish_name{
	text-align: center;
	background-color: #FFEECA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#dish_name h1{
	margin: 0 auto 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 60%;
	font-weight: 100;
}
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
#okBtn{
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #91BF8E;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: white;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
table#info_table{
	width: 86%;
	margin: 20px auto 0 auto;
	text-align: left;
	font-size: 20px;
	color: black;
}
#info_table td{
	border: none;
	text-align: left;
}
#info_img{
	border-radius: 5px;
	width: 86%;
	margin: 0 7% 90px 7%;
}

.popup-open {
	height: 100%;
    overflow: hidden;
}